
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/RalewayBold/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RalewayBold/Raleway-Bold.woff') format('woff'),
       url('../fonts/RalewayBold/Raleway-Bold.ttf')  format('truetype'),
       url('../fonts/RalewayBold/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('../fonts/RalewayLight/Raleway-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RalewayLight/Raleway-Light.woff') format('woff'),
       url('../fonts/RalewayLight/Raleway-Light.ttf')  format('truetype'),
       url('../fonts/RalewayLight/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/RobotoBold/RobotoBold.eot?#iefix') formt('embedded-opentype'),
       url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'),
       url('../fonts/RobotoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?iefix') format('embedded-opentype'),
       url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
       url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satisfy';
  src: url('../fonts/Satisfy/Satisfy.eot?iefix') format('embedded-opentype'),
       url('../fonts/Satisfy/Satisfy.woff') format('woff'),
       url('../fonts/Satisfy/Satisfy.svg#Satisfy') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1170px;
  margin: 0 auto;

  &--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--flex-rel {
    position: relative;
  }
}
