$light-gray: #96a2a7;
$basic-white: #feffff;
$link-green: #0ac97f;
$background-dark: #0a1216;
$basic-orange: #ffb556;
$basic-gray: #656565;
$border-gray: #e5e5e5;
$footer-gray: #7f7f7f;
$background-copyright: #f6f6f6;
$green: #0ac97f;
$orange: #ffb556;
$red: #f72c49;
$grey: #656565;
