.about {
  position: relative;
  margin-top: -446px;
  padding-top: 63px;
  padding-bottom: 105px;
  background-color: rgba(21, 29, 37, 0.8);
}
.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    content: '';
    top: -123px;
    right: 280px;
    border: 35px solid transparent;
    border-bottom: 25px solid rgba(21, 29, 37, 0.8);
  }
}
.about-description {
  flex: 1 1 63%;
}
.about-description__header {
  @include raleway-bold;
  font-size: 40px;
  font-weight: 700;
  color: $basic-white;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 30px;
  max-width: 75%;
}
.about-description__text {
  @include raleway;
  font-size: 20px;
  line-height: 28px;
  color: $basic-white;
  margin: 0;
  max-width: 87%;
  padding-left: 13px;
}
.about-feedback {
  @include raleway;
  font-weight: normal;
  font-size: 20px;
  color: $basic-white;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}
.about-feedback__header {
  margin: 0;
  padding-top: 5px;
  margin-bottom: 33px;
  width: 83%;
}
.about-feedback__btn {
  @include raleway-bold;
  font-size: 14px;
  color: $basic-white;
  width: 215px;
  height: 45px;
  text-align: left;
  border-radius: 21px;
  padding-left: 17px;
  outline: none;
  border: none;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all .5s;

    &--green {
      background-color: $link-green;

      &:hover {
        background-color: green;
      }
    }

    &--orange {
      background-color: $basic-orange;

      &:hover {
        background-color: orange;
      }
    }

    &--gray {
      background-color: $basic-gray;

      &:hover {
        background-color: red;
      }
    }


}
