.blog {
  background-image: url(/img/blog-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.blog-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
}
.blog-intro__link {
  @include raleway-bold;
  color: $basic-white;
  background-color: $link-green;
  margin: 0;
  padding: 16px 0px 10px 14px;
  position: relative;
  text-decoration: none;

  &:after{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: -42px;
    border: 22px solid transparent;
    border-left: 20px solid $link-green;
  }
}
.blog-intro__header {
  @include raleway-bold;
  font-size: 40px;
  color: $basic-white;
}
.blog-intro__date {
  @include raleway;
  font-size: 14px;
  color: $basic-gray;
}
.blog-description__paragraph {
  @include raleway;
  font-size: 14px;
  color: $basic-white;
}
