.blog {
  background-image: url(/img/blog-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.blog-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 10px;
  padding-top: 68px;
  padding-bottom: 50px;
}
.blog-intro__link {
  @include raleway-bold;
  display: block;
  color: $basic-white;
  font-size: 20px;
  background-color: $link-green;
  margin: 0;
  padding: 10px 0 7px 21px;
  position: relative;
  text-decoration: none;
  width: 177px;
  transition: all .3s;

  &:after{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: -38px;
    border: 20px solid transparent;
    border-left: 18px solid $link-green;
    transition: all .3s;
  }

  &:hover {
    background-color: $basic-hover;
  }
  &:hover:after {
    border-left: 18px solid $basic-hover;
  }
}
.blog-intro {
  flex: 1 1 50%;
  padding-top: 11px;
}
.blog-intro__header {
  @include raleway-bold;
  font-size: 40px;
  color: $basic-white;
  margin-top: 14px;
  margin-bottom: 40px;
}
.blog-intro__date {
  @include raleway;
  font-size: 14px;
  color: $basic-gray;
  padding-left: 10px;
}
.blog-description {
  flex: 1 1 50%;
  padding-left: 15px;
}
.blog-description__paragraph {
  @include raleway;
  font-size: 14px;
  line-height: 22px;
  color: $basic-white;
  width: 87%;
}
