.item-info {
  display: flex;
  flex-direction: row;
  padding-top: 250px;
  opacity: 1;
  transition: opacity ease-in 0.5s;
}
.item-info__image {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.item-descr__header {
  @include raleway-bold;
  color: $basic-white;
  font-size: 40px;
  font-weight: bold;
}
.item-descr__text {
  @include raleway;
  color: $basic-white;
  font-size: 20px;
  line-height: 24px;
}
.item-descr__link {
  @include raleway-bold;
  color: $link-green;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;

}
