.item-select {
  display: flex;
  flex-direction: row;
}
.item-descr__slogan {
  @include raleway-bold;
  color: $basic-white;
  background-color: $link-green;
  margin: 0;
  width: 220px;
  height: 40px;
  padding: 12px 0px 10px 14px;
  position: relative;

  &:after{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: -35px;
    border: 20px solid transparent;
  	border-left: 15px solid $link-green;
  }
}
