.page-header{
  position: absolute;
  width: 100%;
  padding-top: 33px;
  z-index: 3;
}
.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
}
.logo-info {
  flex: 1 1 auto;
  padding-top: 7px;
}
.logo-info__header {
    font-family: 'Satisfy', 'Arial', sans-serif;
    color: #feffff;
    font-size: 25px;
    margin: 0;

    &--footer {
      color: $footer-gray;
    }
}
.logo-info__slogan {
  font-family: "Raleway-Light", "Arial", sans-serif;
  color: $light-gray;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-top: 4px;
}
.share-link {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.share-link__text {
  @include raleway;
  color: $light-gray;
  font-size: 14px;
  margin: 0;
  margin-right: 20px;
}
.soc-list-header {
  @include padding-list;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 15px;
}
.soc-list-header__item {
  margin-right: 5px;

  &:nth-of-type(4) {
    margin-right: 8px;
  }
}
