.slider {
  width: 100%;
}
.slider-item {
  position: relative;
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 115px;
  padding-right: 60px;
  padding-bottom: 507px;
}
.slider-item__image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('../img/slide-image1.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-item__image {
  width: 100%;
}
.slider-item__info {
  padding-top: 217px;
  padding-left: 41px;
}
.slider-wrap {
  display: flex;
  transition: transform .5s;
}
